.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.certificates {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto 5rem;
  
}

.certificates-slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  box-sizing: border-box; 
  
}

.certificates-card {
  display: flex;
  align-items: flex-start;
  background: var(--color-card-certificate);
  border-radius: 0.5rem;
  color: var(--color-texto);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificates-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  min-width: 280px;
}

.certificates-content p {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin-bottom: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.certificates-img-container {
  flex: 1 1 220px;
  max-width: 300px;
}

.certificates-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 0.75rem;
  object-fit: cover;
  object-position: left top;
}

.certificates-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 300px;
  padding: 0.5rem 1rem;
  min-width: 200px;
}

.certificates-content h3 {
  font-size: clamp(1.2rem, 2vw, 1.5rem); /* flexible */
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.certificates-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.certificates-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: clamp(1.5rem, 1.9vw, 1.9rem);
}

.certificates-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.certificates-icon:hover {
  transform: scale(1.2);
}

/* 📱 Responsive */
@media (max-width: 770px) {
  .certificates-card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .certificates-footer {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .certificates-img-container {
    width: 100%;
    max-width: 290px;
  }

  .certificates-content {
    padding:0px;
  }

  .certificates-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: none;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
     font-size: 12px;
  }
    .certificates-content h3 {
  
     font-size: 15px;
  }
}
