:root {
  --color-fondo: #eff7fb;

  --color-texto: #0c254e;

  --color-linea: #416dae;

  --color-primario: #3eb8ff;
  --color-secundario: #0071b8;

  --color-card: #ffffff;
  --color-card-foto: #1f4c7a;

  --color-botones: #2f94ce;
  --color-botones-hover: #68bbff;
  --color-botones-hover-texto: #ffffff;

  --color-Menuhorizontal: #eff7fb67;
  --color-Menuhorizontal-texto: #0c254e8c;
  --color-Menuvertical: #ddecf5;

  --color-card-projecs: #00aeff22;
  --color-card-projecs-hover:  #00509b22;;

  --color-card-certificate: #0184c12d;
}

/* 🌙 Variables para modo oscuro */
.dark-mode {
  --color-fondo: #0c254e;

  --color-texto: #ffffff;

  --color-linea: #eff7fb;

  --color-primario: #0061b1;
  --color-secundario: #00c3ff;

  --color-card: #1a1a1a;
  --color-card-foto: rgb(228, 241, 255);

  --color-botones: #0098f0;
  --color-botones-hover: #4bbdff;
  --color-botones-hover-texto: #ffffff;

  --color-Menuhorizontal: #0c254ec2;
  --color-Menuhorizontal-texto: #ffffff8c;
  --color-Menuvertical: #0a2044;

  --color-card-projecs: #4c9ddf32;
  --color-card-projecs-hover: #0c244a7d;

  --color-card-certificate: #0a1f41;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.5;
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

header {
  background-color: #282c34;
  color: var(--color-texto);
  padding: 1rem;
  text-align: center;
  width: 100%;
}

main {
  flex: 1;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}

footer {
  color: var(--color-texto);
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

/* ===== Contenedor interno ===== */
.app-contenido {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2rem;
}

.titulos {
  font-size: 2rem;
  color: var(--color-texto);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.titulos-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: var(--color-botones);
  padding: 5px 15px 5px 15px;
  color: var(--color-botones-hover-texto);
  transition: all ease 0.5s;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.botones:hover {
  background-color: var(--color-botones-hover);
  transform: translateY(-5px);
  color: var(--color-botones-hover-texto);
}

@media (max-width: 1024px) {
  main {
    padding: 1.5rem;
  }

  .app-contenido {
    padding: 0.8rem;
  }
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .app-contenido {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  main {
    padding: 0.5rem;
  }

  .app-contenido {
    padding: 0.5rem;
  }

  footer {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .titulos {
    font-size: 1.5rem;
  }
}
